<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Logs</title>

<style>
body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    padding: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #111827;
    margin-top: 10px;
}

th {
    background: #1f2937;
    padding: 10px;
}

td {
    padding: 10px;
    border-bottom: 1px solid #222;
}

a {
    color: #38bdf8;
    text-decoration: none;
}
</style>

</head>

<body>

<h2>📜 System Logs</h2>

<a href="/home">⬅ Back Home</a>

<table>
<tr>
    <th>ID</th>
    <th>Action</th>
    <th>Time</th>
</tr>

{% for r in data %}
<tr>
    <td>{{r[0]}}</td>
    <td>{{r[1]}}</td>
    <td>{{r[2]}}</td>
</tr>
{% endfor %}
</table>

</body>
</html>