body{
    background:#0f172a;
    color:white;
    font-family:sans-serif;
    padding:15px;
}

.grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:10px;
}

.box{
    background:#1e293b;
    border-radius:15px;
    padding:20px;
    min-height:100px;
}

.card{
    background:#1e293b;
    border-radius:15px;
    padding:20px;
    margin-top:20px;
}

input,
select,
button{
    width:100%;
    padding:12px;
    margin-top:10px;
    border-radius:10px;
    border:none;
}