<h2>💰 HUAT888 FINANCE DASHBOARD</h2>

<h3>Total: {{total}}</h3>

<form method="POST" action="/add">
<input name="account" placeholder="Account">
<input name="amount" placeholder="Amount">

<select name="payment">
<option>CASH</option>
<option>TNG</option>
<option>BANK</option>
<option>OTHER</option>
<option>OUT</option>
</select>

<input name="note" placeholder="Note">
<button>Add</button>
</form>

<table>
<tr>
<th>Account</th><th>Amount</th><th>Payment</th><th>Before</th><th>After</th><th>Time</th>
</tr>

{% for r in data %}
<tr>
<td>{{r[1]}}</td>
<td>{{r[2]}}</td>
<td>{{r[3]}}</td>
<td>{{r[5]}}</td>
<td>{{r[6]}}</td>
<td>{{r[7]}}</td>
</tr>
{% endfor %}
</table>