<link rel="stylesheet" href="/static/style.css">

<div class="card">
<h2>💰 总余额：{{total}}</h2>
</div>

<div class="card">
<form method="POST" action="/add">
<input name="account" placeholder="账号">
<input name="amount" placeholder="金额">

<select name="payment">
<option>CASH</option>
<option>TNG</option>
<option>BANK</option>
<option>OUT</option>
</select>

<input name="note" placeholder="备注">
<button>提交</button>
</form>
</div>

{% for r in data %}
<div class="card">
<p>账号: {{r[1]}}</p>
<p>金额: {{r[2]}}</p>
<p>付款: {{r[3]}}</p>
<p>前: {{r[5]}} 后: {{r[6]}}</p>
<p>时间: {{r[7]}}</p>

<a href="/edit_payment/{{r[0]}}/CASH">CASH</a>
<a href="/edit_payment/{{r[0]}}/TNG">TNG</a>
<a href="/edit_payment/{{r[0]}}/BANK">BANK</a>
</div>
{% endfor %}